/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: rgb(68, 142, 58);
}

.color-2 {
    background: rgb(202, 222, 153);
}

.color-3 {
    background: rgb(110, 76, 50);
}
/* Textures or Patterns*/


.pattern-1 {
    background: url(../img/congruent_pentagon.png);
}

.pattern-2 {
    background: url(../img/dark_embroidery.png);
}

.pattern-3 {
    background: url(../img/footer_lodyas.png);
}


/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */